.speedometer-image{
    height: 300px;
    width: 100vw;
    object-fit: cover;
}
.vinInfo-container{
    margin-top: 100px;
    text-align: center;
}
hr{
    border: .05px solid white;
    width: 250px;
}
form{
    margin-top: 50px;
}
.vinInfo-container input{
    text-align: center;
    display: block;
    margin: auto;
    border-radius: 20px;
    padding: 8px 20px 8px 20px;
    border: none;
}
.vinBtn{
    margin-left: 10px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 25px 8px 25px;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 44, 44);
    color: white;
    -webkit-box-shadow: 1px 4px 9px 0px rgba(255,255,255,0.38); 
box-shadow: 1px 4px 9px 0px rgba(255, 103, 103, 0.38);
}
label{
    color: white;
    font-size: .9rem;
    padding-bottom: 20px;
}
.vehicle__history-container{
    text-align: center;
    height: 200px;
}


