.vehicle__info-container{
    overflow-x: auto;
    border-radius: 10px;
}
.table-container{
    margin: 50px;
    min-width: 400px;
}
table{
    margin: auto;
}
th{
    background-color: rgb(80, 80, 80);
    padding: 10px;
    font-size: .9rem;
}
td{
    padding: 10px;
    font-size: .8rem;
}
th td {
    max-width: 300px;
}
ul li{
    list-style-type: none;
    font-size: .8rem;
}
.mech__specs-container{
    text-align: center;
}